*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family:Arial, Helvetica, sans-serif
}

body {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 0px -13px rgba(0, 0, 0, 0);
}
img, body{
    background-color: rgba(224, 131, 131, 0.1);
}

header{
    display: flex;
    width: 100%;
    padding: 1.2rem;
    margin-top: 2rem;
    justify-content: space-between;
}

i{
    position: relative;
    padding: 10px;
    cursor: pointer;
}
#qtditens{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 10px;
    background-color: rgb(224, 131, 131);
    padding: 0.2rem;
    border-radius: 50%;
    display:none;
}

section{
    display: flex;
    justify-content:space-between;
    background-color: rgba(224, 131, 131, 0.3);
    height: 100vh;
    padding: 5rem;
    border-radius: 10px;
}

.selecao{
    margin: 3rem auto;
}
.selecao button{
    margin: 0 1rem;
    padding: 0.5rem
}


.produtos{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.carrinho{
    padding: 0.5rem;
    border: none;
    border-bottom: 3px solid rgba(199, 224, 131, 0.9);
    cursor: pointer;
}
.carrinho:hover{
    background-color: rgba(199, 224, 131, 0.9);
}

.lista-carrinho{
    display: none;
    text-align: center;
    line-height: 25px;
    margin-top: -29rem;
    padding: 2rem;
}

.lista-carrinho span{
    position: fixed;
    right: 12%;
    background-color: rgb(136, 130, 130);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;  
}